@import "~bootstrap/scss/bootstrap";

:root {
   --danmcode_dark: #292929;
   --danmcode_main: #18AA80;
   --danmcode_secondary: #0C5740;
   --text_color_secondary: #9599ba;
}
body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #e8ebf4;
}

/* Sidebar */
.sidebar {
    background-color: var(--danmcode_dark);
    color: #ffffff;
    width: 70px;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 15px;
    border-radius: 20px;
    overflow: auto;
}

.sidebar .logo {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 20px;
}

.sidebar .menu {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.sidebar .menu li {
    padding: 15px;
    text-align: center;
    margin-top: 4px;
    font-size: 0.9rem;
    cursor: pointer;
}

.sidebar .menu li:hover {
    border-radius: 15px;
    background-color: var(--danmcode_main);
}

.main-content {
    border-radius: 20px;
    margin-top: 15px;
    margin-right: 15px;
    width: 100%;
    height: 95vh;
}

.dashboard {
    padding: 20px;
}

.search-bar {
    position: relative;
    width: 50%;
}

.search-bar input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 0.1px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    background-color: white;
}

.search-bar input::placeholder {
    color: #a4a7c3;
    opacity: 1;
    font-size: small;
    font-weight: bolder;
}

.search-bar .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: var(--danmcode_main);
    cursor: text;
}

.navbar-item {
    padding: 4px;
    border-radius: 10px;
    margin-left: 4px;
    background-color: white;
    color: var(--danmcode_main) !important;
}

.item-active {
    background-color: var(--danmcode_main);
    border-radius: 15px;
}

.danmcode-card{
    background-color: white;
    border-radius: 15px;
    flex-direction: row;
    justify-content: space-between;
}


.danmcode-card .danmcode-card-header {
    background-color: #292929;
    opacity: 1;
    background-image: radial-gradient(circle at center center, #18AA80, #292929), repeating-radial-gradient(circle at center center, #18AA80, #18AA80, 9px, transparent 18px, transparent 9px);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    padding: 20px; 
    height: 60px;
    width: 100%;
    border-radius: 15px;
    color: white;
}

.danmcode-card-header-action {
    padding: 4px;
    border-radius: 10px;
    margin-left: 4px;
    color: white;
    cursor: pointer;
}

.danmcode-card-body {
    padding: 20px;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px; 
    height: 80px; 
    border-radius: 50%; 
    background-color: #d9e0e5; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.avatar i {
    font-size: 30px;
    color: #333; 
}

.row .avatar-container {
    display: flex;
    justify-content: center;
}

.col-avatar {
    display: flex;
    justify-content: center;
}

.client-data .company-name{
   font-weight: 700;
}

.client-data .direction{
   font-weight: normal;
   color: var(--text_color_secondary);
   font-size: small;

}

.client-data .client-type{
    color: var(--text_color_secondary);
    font-size: small;
 }

.client-data .direction i{
    color: var(--danmcode_secondary);
 }

.client-data span {
    color: var(--text_color_secondary);
    font-size: small;
}

.client-data .data-number {
    font-weight: bolder;
}

.data-container{
    border-right: var(--danmcode_main) solid 0.1px;
}

.danmcode-card .visitors {
    height: max-content;
}